<div id="footer">
  <div class="container">
    <div class="row">            
      <div class="col-md-1"><img src="/photos/logo.png" height="45" width="100" vspace="3" img align="right"></div>
      <div class="col-md-6" padding-left="10"><h5>  GT Christian Campus Fellowship - (404) 872-3856<br />  767 Techwood Drive Atlanta, GA 30313</h5></div>
      <div class="col-md-1"><a target="_blank" href="mailto:hello@gtccf.org"><img src="/photos/icons/mail.png" height="30" width="30" vspace="12" class="img-circle"></a></div>
      <div class="col-md-1"><a target="_blank" href="https://www.facebook.com/gtccf"><img src="/photos/icons/facebook.png" height="30" width="30" vspace="12" class="img-circle"></a></div>
      <div class="col-md-1"><a target="_blank" href="https://twitter.com/GTCCF"><img src="/photos/icons/twitter.png" height="30" width="30" vspace="12" class="img-circle"></a></div>
      <div class="col-md-1"><a target="_blank" href="https://www.youtube.com/channel/UCYfpzWwQEApNJ2XY-GE8j7g"><img src="/photos/icons/youtube.png" height="30" width="30" vspace="12" class="img-circle"></a></div>
      <div class="col-md-1"><a target="_blank" href="http://instagram.com/gatechCCF"><img src="/photos/icons/instagram.png" height="30" width="30" vspace="12" class="img-circle"></a></div>
    </div>
  </div>
</div>
