<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 hidden-xs"><img src="{{ site.baseurl }}/photos/logo.png" height="45" width="100" vspace="3"></div>
      <div class="col-md-6 hidden-sm hidden-xs" padding-left="10"><h5>  GT Christian Campus Fellowship - (404) 872-3856<br />  767 Techwood Drive Atlanta, GA 30313</h5></div>
      <div class="social-buttons col-md-4 col-sm-10">
        <a target="_blank" href="mailto:hello@gtccf.org"><img src="{{ site.baseurl }}/photos/icons/mail.png" height="30" width="30" vspace="12" class="img-circle"></a>
        <a target="_blank" href="https://www.facebook.com/gatechccf"><img src="{{ site.baseurl }}/photos/icons/facebook.png" height="30" width="30" vspace="12" class="img-circle"></a>
        <a target="_blank" href="https://twitter.com/gatechccf"><img src="{{ site.baseurl }}/photos/icons/twitter.png" height="30" width="30" vspace="12" class="img-circle"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCYfpzWwQEApNJ2XY-GE8j7g"><img src="{{ site.baseurl }}/photos/icons/youtube.png" height="30" width="30" vspace="12" class="img-circle"></a>
        <a target="_blank" href="http://instagram.com/gatechCCF"><img src="{{ site.baseurl }}/photos/icons/instagram.png" height="30" width="30" vspace="12" class="img-circle"></a>
      </div>
    </div>
  </div>
</div>
